extends layout.jade
block body
    - console.log(authenticate.me.email)
    if(authenticate)
        p welcom back, #{authenticate.me.email}
        a(href="/mongo/logout") logout
    else
        p welcom new visitor
        ul
            li: a(href="/mongo/login") login
            li: a(href="/mongo/signup") signup